<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="log-path">logs</Property>
        <Property name="log-name">serverrepo-server</Property>
    </Properties>

    <Appenders>
        <RollingFile name="file-log" fileName="${log-path}/${log-name}.log"
                     filePattern="${log-path}/${log-name}.log">
            <PatternLayout>
                <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.netty" level="info">
            <appender-ref ref="file-log"/>
            <appender-ref ref="console"/>
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="file-log"/>
            <appender-ref ref="console"/>
        </Root>
    </Loggers>
</Configuration>
