/*******************************************************************************
 *
 * Default Theme
 *
 * Description:
 * Near default theme
 *
 * @TODO - I'd like to move all CSS that will remain the same across all themes
 * (such as button padding) to a separate CSS file and theme related things
 * (such as colors) in a different file.
 *
 ******************************************************************************/

/*******************************************************************************
 *
 * Fonts
 *
 ******************************************************************************/
@font-face {
    src: url('../font/Roboto-LightItalic.ttf');
}
@font-face {
    src: url('../font/fontawesome-webfont.ttf');
}

/*******************************************************************************
 *
 * Base style colors
 *
 ******************************************************************************/
.root {
    -fx-confirmbox-base: #ffffff;
    -fx-confirmbox-border: #ffffff;
    -fx-error-red: #ff0000;
}

/*******************************************************************************
 *
 * Root styling and base CSS restyling
 *
 ******************************************************************************/
.root, .label {
    -fx-font-family: 'Roboto';
}
.tooltip {
    -fx-font-size: 12px;
}

/*******************************************************************************
 *
 * ToggleButons used on left side menu
 *
 ******************************************************************************/
.left-menu-toggle-button {
    -fx-background-radius: 0; /* makes button square */
    -fx-padding: 5;
    -fx-font-family: 'FontAwesome';
    -fx-font-size: 18; /* glyph size */
    -fx-text-fill: #000000; /* glyph color */
}
.left-menu-toggle-button:selected {
    -fx-text-fill: #ffffff; /* glyph color */
}

/*******************************************************************************
 *
 * Confirmbox
 *
 ******************************************************************************/
.confirmbox {
    -fx-font-family: 'Roboto';
    -fx-border-color: -fx-confirmbox-border;
    -fx-border-width: 1px;
}
.confirmbox-rectangle {
    -fx-fill: -fx-confirmbox-base;
}
.confirmbox-title {
    -fx-font-size: 16px;
}
.confirmbox-line {
    -fx-stroke: -fx-confirmbox-base;
}
.confirmbox-message {
    
}

/*******************************************************************************
 *
 * LoginForm
 *
 ******************************************************************************/
.login-form-error-message {
    -fx-text-fill: -fx-error-red;
}
.login-form-guest-link,
.login-form-guest-link:visited,
.login-form-guest-link:hover,
.login-form-guest-link:visited:hover {
    -fx-text-fill: blue;
    -fx-underline: false;
}
